__pycache__
*.egg-info

.env
.venv
.coverage
.pytest_cache

.planning
.terraform*

node_modules
terraform.tfvars

docker/plugins

examples/data/*
!examples/data/.gitkeep

config/*
!config/mcp.template.json

coverage.xml